<bar></bar>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
                        <li class="breadcrumb-item active">Add Car</li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">


                    <div class="col-md-8">
                        <!-- general form elements -->
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">Ajouter une voiture</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nom</label>
                                        <input type="text" class="form-control" id="nom" placeholder=" Nom">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Matricule</label>
                                        <input type="text" class="form-control" id="matricule" placeholder="123 tu 1234">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Kilometrage</label>
                                        <input type="text" class="form-control" id="Kilometrage"
                                            placeholder="Kilometrage">
                                    </div>

                                   
                                    
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-secondary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
