<div class="wrapper">
    <bar></bar>
   
     <!-- Content Wrapper. Contains page content -->
     <div class="content-wrapper">
       <!-- Content Header (Page header) -->
       <div class="content-header">
         <div class="container-fluid">
           <div class="row mb-2">
          
            
           </div><!-- /.row -->
         </div><!-- /.container-fluid -->
       </div>
       <!-- /.content-header -->
   
       <!-- Main content -->
       <div class="content">
         <div class="container-fluid">
           <div class="row">
             <div class="col-lg-6">
              <div id="accordion">
                <div class="card card-primary">
                  <div class="card-header">
                    <h4 class="card-title w-100">
                      <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                        Notre gestionaire de garage
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                      Une voiture possède beaucoup de critères qui nécessite un contrôle périodique pour garder le bon fonctionnement de cette dernière. Nous avons aussi besoin d’une traçabilité pour que nous pouvons suivre et contrôler l’entretien. 
                      Lorsque le nombre des voitures augmente pour une société ou un garage la tache de suivi devient difficile nous devons alors la rendre informatisée
                    </div>
                  </div>
                </div>
               
                
              </div>
               <!-- /.card -->
             </div>
          
           </div>
           <!-- /.row -->
         </div>
         <!-- /.container-fluid -->
       </div>
       <!-- /.content -->
     </div>
     <!-- /.content-wrapper -->
   
     <!-- Control Sidebar -->
     <aside class="control-sidebar control-sidebar-dark">
       <!-- Control sidebar content goes here -->
     </aside>
     <!-- /.control-sidebar -->
   
     <!-- Main Footer -->
     
   </div>